.fightzone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .button-fight {
    position: relative;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 75px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;

    .icon-sword,
    .icon-sword-reverse {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-image: url('../img/icons/sword.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    .icon-sword-reverse {
      transform: scale(-1, 1);
    }

    &:active {
      border: 1px solid white;

      .icon-sword,
      .icon-sword-reverse {
        background-image: url('../img/icons/sword_reverse.png');
      }
    }
  }

  .opponent,
  .player {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200px;

    .defeat {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      background-image: url('../img/icons/dead.png');
      background-repeat: no-repeat;
      background-position: center;
      z-index: 2;
    }

    .fighter {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      padding: 10px 0;
      background-color: red;
    }

    .lifepoints {
      flex-basis: 8px;
      background-color: white;

      .fill-life {
        display: block;
        height: 8px;
        background-color: green;
      }
    }

    .cards {
      flex-basis: 75px;
      background-color: blue;
    }

    .stats {
      width: 75px;
      margin-right: 20px;

      .stat {
        display: flex;
        align-items: center;
        height: 30px;
        margin: 3px 0;

        .level {
          display: inline-block;
          flex-grow: 1;
          height: 10px;
          margin-left: 5px;

          .fill-level {
            display: block;
            height: 10px;
            background-color: green;
          }
        }
      }
    }

    .avatar {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 120px;
      height: 120px;
      margin-right: 20px;

      .img-avatar {
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 45px;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .name-avatar {
        width: 135px;
        height: 22px;
        margin-top: 2px;
        padding: 0 5px;
        background-color: white;
        font-weight: bold;
        box-sizing: border-box;
      }
    }
  }

  .opponent {
    border-bottom: 2px solid black;

    .lifepoints .fill-life {
      float: right;
    }
  }

  .player {
    flex-direction: column-reverse;
    border-top: 2px solid black;

    .fighter {
      justify-content: flex-start;

      .stats {
        order: 1;
      }

      .stats,
      .avatar {
        margin-right: 0;
        margin-left: 20px;
      }

      .avatar {
        align-items: flex-end;
        text-align: right;
      }
    }

    .lifepoints .fill-life {
      float: left;
    }
  }
}
