$borderBlack: 2px solid black;

.fightzone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .button-fight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    align-self: center;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
    cursor: pointer;

    .bg-btn-fight {
      width: 100%;
      height: 80%;
      background-image: url("../img/attack_btn.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }


    &:active {
      box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4), inset 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    }
  }

  .opponent,
  .player {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 135px;

    .defeat {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 12px;
      background-color: rgba(0, 0, 0, 0.6);
      background-image: url("../img/icons/dead.png");
      background-repeat: no-repeat;
      background-position: center;
      z-index: 10;
    }

    .fighter {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 125px;
      padding: 10px 0;
      box-sizing: border-box;
      border-left: $borderBlack;
      border-right: $borderBlack;
      background-image: url("../img/bg_fighter_right.jpg");
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
    }

    .lifepoints {
      width: 75%;
      height: 8px;
      background-color: rgb(119, 12, 12);
      border: $borderBlack;

      .fill-life {
        display: block;
        height: 8px;
        background: linear-gradient(to right, #22aa7f 0%,#16c100 45%,#16c100 100%);
      }
    }

    .cards {
      display: none;
      flex-grow: 1;
      background-color: blue;
    }

    .stats {
      width: 100px;
      margin-right: 31px;

      .stat {
        display: flex;
        align-items: center;
        height: 30px;
        margin: 3px 0;

        .icon-stat {
          width: 20px;
          height: 20px;
          padding: 3px;
          border-radius: 3px;
          border: $borderBlack;
          background-image: url("../img/bg_icon_stats.jpeg");
          background-size: contain;
          z-index: 2;
        }

        .level {
          position: relative;
          display: inline-block;
          flex-grow: 1;
          height: 10px;
          margin-left: -40px;
          padding-left: 39px;
          border: $borderBlack;
          border-radius: 2px 10px 10px 2px;
          box-shadow: -5px 6px 1px rgba(0, 0, 0, 0.6);
          background-color: #bb1d17;

          .fill-level {
            position: relative;
            display: block;
            height: 10px;
            background: url("../img/bg_stat.jpg") repeat-x;
            border-radius: 2px 10px 10px 2px;
          }
        }
      }
    }

    .avatar {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 120px;
      height: 120px;
      margin-right: 31px;
      padding-top: 15px;
      box-sizing: border-box;

      .img-avatar {
        display: inline-block;
        width: 106px;
        height: 95px;
        border-radius: 55px;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .name-avatar {
        width: 135px;
        height: 22px;
        margin-top: 2px;
        padding: 0 5px;
        background-color: white;
        font-weight: bold;
        box-sizing: border-box;
      }
    }
  }

  .opponent {
    .fighter {
      border-bottom: $borderBlack;
    }

    .lifepoints {
      align-self: flex-end;
      border-bottom-left-radius: 10px;
      border-top: none;
      overflow: hidden;

      .fill-life {
        float: right;
      }
    }
  }

  .player {
    flex-direction: column-reverse;

    .defeat {
      top: 12px;
      bottom: 0;
    }

    .fighter {
      justify-content: flex-start;
      border-top: $borderBlack;
      background-image: url("../img/bg_fighter_left.jpg");
      background-position: unset;

      .stats {
        order: 1;
      }

      .avatar,
      .stats {
        margin-right: 0;
      }

      .stats {
        margin-left: 40px;
      }

      .avatar {
        align-items: flex-end;
        margin-left: 31px;
        text-align: right;
      }
    }

    .lifepoints {
      border-top-right-radius: 10px;
      border-bottom: none;
      overflow: hidden;

      .fill-life {
        background: linear-gradient(to right, #16c100 0%,#16c100 55%,#22aa7f 100%);
      }
    }
  }
}
