@import url('https://fonts.googleapis.com/css?family=Bangers|Marvel');
@import "vars";
@import "animate";

body {
  background: url('../img/background.jpg');
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font, sans-serif;
  font-size: 16px;

  &.win{
    background: url('../img/bg_win.jpg');
    background-size: cover;
    background-position: center;

    .container{
      flex-direction: column;
    }

    .circle{

    height: 470px;
    border-radius: 440px;
    overflow: hidden;
    margin-top: -7%;
    }

    .winner {
      color: $yellow;
      font-size: 5rem;
      font-family: 'Bangers';
      margin-top: -20px;
    }
  }

  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .hidden {
    display: none;
  }
}

header {
  background-color: $primary-color;
  color: $secondary-color;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  font-family: 'Bangers';
  text-align: center;
  padding: 12px 0;
  z-index: 100;
}

footer {
  z-index: 100;
  background-color: $primary-color;
  color: $secondary-color;
  width: 100%;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  font-family: 'Bangers';
  text-align: center;
  padding: 12px 0;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  background-color: $secondary-color;
  border: 4px solid $primary-color;
  color: $primary-color;
  text-decoration: none;
  transition: font-size .3s, font-weight .3s;
  font-size: 1.5rem;
  font-family: 'Bangers';
  cursor: pointer;
}

.container:not(.playerselection) .btn {
  &:hover, &:focus, &:active {
    font-size: 5rem;
    font-weight: 700;
  }
}


@import './selectplayer.scss';
@import './fightzone.scss';
@import './icons.scss';
@import './versus.scss';
