@import url('https://fonts.googleapis.com/css?family=Bangers|Marvel');
@import "vars";

body {
  background: url('../img/background.jpg');
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font, sans-serif;
  font-size: 16px;

  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hidden {
    display: none;
  }
}

header {
  background-color: $primary-color;
  color: $secondary-color;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  font-family: 'Bangers';
  text-align: center;
  padding: 12px 0;
}

footer {
  background-color: $primary-color;
  color: $secondary-color;
  width: 100%;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  font-family: 'Bangers';
  text-align: center;
  padding: 12px 0;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  background-color: $secondary-color;
  border: 4px solid $primary-color;
  color: $primary-color;
  text-decoration: none;
  transition: font-size .3s, font-weight .3s;
  font-size: 1.5rem;
  &:hover, &:focus, &:active {
    font-size: 5rem;
    font-weight: 700;
  }
}


@import './fightzone.scss';
@import './icons.scss';
